.icon {
  display: inline-block;
  flex: none;
  background-image: url("/brand/icon-atlas.webp");
  background-size: 300% 300%;
  background-repeat: no-repeat;
  vertical-align: middle;
  clip-path: inset(10% 2% 3%);
}
